

<div class="container">
	<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg">
          <a routerLink="/smart" class="card-title">Смартфоны</a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/smart">Смартфоны</a>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="card">
        <div class="card-image">
          <img src="https://materializecss.com/images/sample-1.jpg">
          <a routerLink="/nout" class="card-title">Ноутбуки</a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/nout">Ноутбуки</a>
        </div>
      </div>
    </div>
  </div>
</div>



