<form action="#">
    <p>
      <label>
        <input type="checkbox" class="filled-in"  />
        <span>HP</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in"  />
        <span>Prestigio</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in"  />
        <span>ASUS</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" class="filled-in"  />
        <span>Dell</span>
      </label>
    </p>
  </form>